@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Iso&display=swap');

body {
    font-family: 'Roboto Mono', monospace;
    background: rgb(32,222,224);
    background: linear-gradient(90deg, rgba(0,255,229,1) 0%, rgba(0,84,255,1) 42%, rgba(160,0,255,1) 65%);     background-size: 400% 400%;
    padding-left: 25%;
    padding-right: 25%;
    color: white;
    animation: gradient 10s ease infinite;
}

h1 {
    text-align: center;
}
.info {
    position: absolute;
    padding: 20px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: slategray;
    opacity: 0.6;
    border-radius: 25px;
  }

a {
    text-decoration: none;
    color: white;
}

@keyframes expand {
    from {
        padding: 20px;
    }
    to {
        padding: 25px;
    }
}
@keyframes exun {
    from {
        padding: 25px;
    }
    to {
        padding: 20px;
    }
}

  @media only screen and (max-width: 900px) {
    body {
        background: rgb(0,0,0);
        background: linear-gradient(90deg, rgba(0,255,229,1) 0%, rgba(0,84,255,1) 42%, rgba(160,0,255,1) 65%) 139%;     
    }
  }
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color:rgba(0,0,0,0.3);
    color: white;
    text-align: center;
    animation: .25s funhover;
 }
.footer:hover {
    background-color: rgba(255, 255, 255, 0.466);
    animation: .25s fhover;
    cursor: grab;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
