body {
    font-family: 'Roboto Mono', monospace;
    /*
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,1) 1%, rgba(31,11,41,1) 12%, rgba(53,36,136,1) 24%, rgba(95,26,96,1) 51%, rgba(24,59,69,1) 68%, rgba(46,25,80,1) 82%, rgba(0,0,0,1) 100%, rgba(0,0,0,1) 139%);
    */
    /*
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,1) 1%, rgba(46,80,142,1) 28%, rgba(47,74,29,1) 51%, rgba(25,92,68,1) 70%, rgba(0,0,0,1) 100%, rgba(0,0,0,1) 139%); 
    */

    background: rgb(32,222,224);
    background: linear-gradient(90deg, rgba(32,222,224,1) 0%, rgba(255,126,227,1) 10%, rgba(59,77,215,1) 20%, rgba(36,183,223,1) 35%, rgba(78,112,191,1) 43%, rgba(205,39,165,1) 55%, rgba(47,204,173,1) 65%, rgba(71,97,182,1) 72%, rgba(28,88,131,1) 79%, rgba(16,106,168,1) 90%, rgba(138,39,166,1) 100%, rgba(0,0,0,1) 100%, rgba(191,39,212,1) 112%);     background-size: 400% 400%;
    padding-left: 25%;
    padding-right: 25%;
    color: white;
    text-align: center;
    animation: gradient 15s ease infinite;
}