@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Iso&display=swap');

body {
    font-family: 'Roboto Mono', monospace;
    padding-left: 25%;
    padding-right: 25%;
    background-image: url('/images/dark.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    color: white;
}

h1 {
    text-align: center;
}
.info {
    position: absolute;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: slategray;
    opacity: 0.6;
  }

a {
    text-decoration: none;
    color: white;
}

